.box{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 5px black;
}

.box1{
    background-color: red;
    position: relative;
    left: 500px;
    top: 200px;
}

.box2{
    background-color: blue;
}

.box3{
    background-color: green;
}

.box4{
    background-color: yellow;
}

.box5{
    background-color: pink;
}
.box6{
    background-color: black;
}